* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.arvi {
    width: 100px;
    height: 200px;
    margin: 15% 20px;
}

.enemy {
    position: absolute;
    width: 100px;
    height: 200px;
    margin: 15% 20px;
    right: 100px;
}

.movement {
    animation-name: characterMovements;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes characterMovements {

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0%);
    }
}

/* Arvi Attack Animation */

.attackAnimation {
    animation-name: attackAnimation;
    animation-duration: 300ms;
    animation-delay: 300ms;
    animation-iteration-count: 3;
}

@keyframes attackAnimation {

    0% {
        transform: translateX(10%) rotate(15deg);
    }

    75% {
        transform: translateX(40%);
    }

    100% {
        transform: none;
    }
}

.enemyIsAttackAnimation {
    animation-name: enemyIsAttackAnimation;
    animation-duration: 300ms;
    animation-delay: 300ms;
    animation-iteration-count: 3;
}

@keyframes enemyIsAttackAnimation {

    75% {
        transform: translateX(80px) rotate(25deg);
    }

    100% {
        transform: none;
    }
}

/* Enemy Attack Animation */

.enemyAttackAnimation {
    animation-name: enemyAttackAnimation;
    animation-duration: 300ms;
    animation-delay: 300ms;
    animation-iteration-count: 3;
}

@keyframes enemyAttackAnimation {

    0% {
        transform: translateX(-10%) rotate(-15deg);
    }

    75% {
        transform: translateX(-40%);
    }

    100% {
        transform: none;
    }
}


.arviIsAttackAnimation {
    animation-name: arviIsAttackAnimation;
    animation-duration: 300ms;
    animation-delay: 300ms;
    animation-iteration-count: 3;
}

@keyframes arviIsAttackAnimation {

    75% {
        transform: translateX(-80px) rotate(-25deg);
    }

    100% {
        transform: none;
    }
}

